<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960829337971-5mp5mlv47a768pem3rnuvbhqjgf3fn0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960829337971-5mp5mlv47a768pem3rnuvbhqjgf3fn0h</string>
	<key>API_KEY</key>
	<string>AIzaSyDiLL5E7h8_EtTeypuAZkQzwv5GDIA3Wpw</string>
	<key>GCM_SENDER_ID</key>
	<string>960829337971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.checkpoint.checkpointgt</string>
	<key>PROJECT_ID</key>
	<string>software-checkpoint-gt</string>
	<key>STORAGE_BUCKET</key>
	<string>software-checkpoint-gt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960829337971:ios:648d6b001f5df6fcca9506</string>
	<key>DATABASE_URL</key>
	<string>https://software-checkpoint-gt.firebaseio.com</string>
</dict>
</plist>